# Keil build folders
Objects/
Listings/

# Build outputs
*.axf
*.bin
*.hex
*.map
*.o
*.d

# Keil temporary files
*.bak
*.dep

# User-specific files
*.uvguix.*

# Keil debug/system view files
*.scvd

# Visualization files
.xyz